@page "/click"

<div id="sectionLeft" class="inset">
    <MudButton Variant="Variant.Filled">uzyskaj dofinansowanie</MudButton>
</div>
<div id="separatorLeft" class="leftBeam">
    <MudButton Variant="Variant.Filled">uzyskaj dofinansowanie</MudButton>
</div>
<div id="separatorRight" class="rightBeam">
    <MudButton Variant="Variant.Filled">uzyskaj dofinansowanie</MudButton>
</div>
<div id="sectionMiddle" class="inset">
    <MudButton Variant="Variant.Filled">uzyskaj dofinansowanie</MudButton>
</div>
<div id="sectionRight" class="inset">
    <MudButton Variant="Variant.Filled">uzyskaj dofinansowanie</MudButton>
</div>

@code {

    //protected override async Task OnInitializedAsync()
    //{
    //    await base.OnInitializedAsync();

    //    await SetClock();
    //    Timer timer = new System.Threading.Timer(x => InvokeAsync(SetClock), null, 1000, 1000);
    //}

}
